networks:
  microservices_network:
    driver: bridge

services:
  postgres:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./initdb:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    networks:
      - microservices_network

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - microservices_network

  jaeger:
    image: jaegertracing/all-in-one:1.22.0
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "9411:9411"
    networks:
      - microservices_network

  api_gateway:
    build:
      context: .
      dockerfile: api_gateway/Dockerfile
    ports:
      - "${PORT}:${PORT}"
    environment:
      - PORT=${PORT}
      - JWT_SECRET=${JWT_SECRET}
      - USERS_SERVICE_URL=${USERS_SERVICE_URL}
      - ORDERS_SERVICE_URL=${ORDERS_SERVICE_URL}
      - JAEGER_ENDPOINT=${JAEGER_ENDPOINT}
    networks:
      - microservices_network
    depends_on:
      - service_users
      - service_orders
      - jaeger

  service_users:
    build: ./service_users
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
      - JWT_SECRET=${JWT_SECRET}
      - DB_USER=${DB_USER}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - JAEGER_ENDPOINT=${JAEGER_ENDPOINT}
    networks:
      - microservices_network
    depends_on:
      - postgres
      - jaeger

  service_orders:
    build: ./service_orders
    ports:
      - "8002:8002"
    environment:
      - PORT=8002
      - DB_USER=${DB_USER}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - JAEGER_ENDPOINT=${JAEGER_ENDPOINT}
    networks:
      - microservices_network
    depends_on:
      - postgres
      - jaeger

volumes:
  postgres_data:
