services:
  api_gateway:
    build: api_gateway
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production
      - USERS_SERVICE_URL=http://service_users:3001
      - ORDERS_SERVICE_URL=http://service_orders:3002
    networks:
      - app-network

  service_users:
    build: service_users
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - JWT_SECRET=supersecretkey
    networks:
      - app-network

  service_orders:
    build: service_orders
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
      - PORT=3002
    networks:
      - app-network

  postgres:
    image: postgres:16-alpine
    container_name: postgres_systemcontrol
    restart: always
    environment:
      POSTGRES_USER: SysAdminMicroServ
      POSTGRES_PASSWORD: 12345678
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:


networks:
  app-network:
    driver: bridge
